/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2019, 01:06:37 PM
    Author     : luis.burgos
*/

      .modal-body{
        max-height: calc(100vh - 210px);
        overflow-y: auto;
      }
      
    /*************************************************/
        .clearfix:before,.clearfix:after {
            content: " ";display: table; /* 2 */}
        .clearfix:after {clear: both;}
        .clearfix {*zoom: 1;}

        .options {margin-bottom: 8px;}

        /* Style checkboxes as Toggle Buttons */
        .ck-button {
            margin:2px;
            background-color:#EFEFEF;
            border-radius:4px;
            border:1px solid #aaa;
            overflow:auto;
            float:left;
            color:#aaa;
        }
        .ck-button:hover {
            background-color:#ddd;
        }
        .ck-button label {
            float:left;
            width:auto;
            margin-bottom: 0;
        }
        .ck-button label span {
            text-align:center;
            padding:3px 8px;
            display:block;
        }
        .ck-button label input {
            position:fixed;
            top:-20px;
        }
        .ck-button input:checked + span {
            color:#111;
        }      
    /***********************************************/
    
    .glyphicon-disabled{
        background-color: #eeeeee !important;
    }